<h1>collections</h1>

<%= link_to 'Add New Collection', new_collection_path %><br/><br/>

<% @collections.each do | c | %>
  <div class="collection">
    <strong>
      <%= link_to c.title, collection_path(c) %>
    </strong>
    <% c.quotes.each do | q | %>
      <p>
        '<%= q.content %>'
      </p>
      <% if q.author %>
        <p>
          ---<%= q.author.name %>
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>
