<h1>show</h1>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<br>

<%= link_to 'Quotes', author_quotes_path(@author) %>
<%= link_to 'Back', authors_path %>
<%= link_to 'Edit', edit_author_path(@author) %>
