<h1>show</h1>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<% if @author.name=="Albert Camus" %>
  <div class="author_info">
    <span>Albert Camus (7 November 1913 – 4 January 1960) was a French Nobel Prize–winning philosopher, author, and journalist. His views contributed to the rise of the philosophy known as absurdism. He wrote in his essay The Rebel that his whole life was devoted to opposing the philosophy of nihilism while still delving deeply into individual freedom.</span>
  </div>
<% end %>

<%= link_to 'Quotes', author_quotes_path(@author) %>
<%= link_to 'Back', authors_path %>
<%= link_to 'Edit', edit_author_path(@author) %>
