body{
  box-sizing: border-box;
  text-align: center;
}

.quote {
  margin-bottom: 5px;
  border: 1px dashed grey;
  display: block;
}

.left{
  display: inline-block;
  width: 50%
}

.right{
  display: inline-block;
  width: 50%;
}

.welcome-wrapper{
  border: 1px solid black;
  margin: 2em
}

.collection{
  display: block;
  border: 1px solid black
}
